* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #389189;
}

.button{
  border-radius: 8px;
  color: #f7f7f7;
}
.edit-button{
  cursor: pointer;
  background-color: rgb(29, 150, 29);
  margin-right: 5px;
}
.delete-button{
  cursor: pointer;
  background-color: red;
}
 .table-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}