* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  /* letter-spacing: 1px; */
}
body {
  background-color: #f7f7f7;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  /* min-height: 100vh; */
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #389189;
}

.button{
  border-radius: 8px;
  color: #f7f7f7;
}
.edit-button{
  cursor: pointer;
  background-color: rgb(29, 150, 29);
  margin-right: 5px;
}
.delete-button{
  cursor: pointer;
  background-color: red;
}
 .table-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .t-action-btn {
  cursor: pointer;
  transition: transform 0.2s;
}
.t-action-btn :hover {
  transform: scale(1.5);
}
.t-action-drop{
  width: 10px;
} */ 