
.main-container{

  width: 100vw;
  .add-button{
  cursor: pointer;
  background-color: rgb(29, 150, 29);
  margin-left: 52%;
  margin-bottom: 10px;
  height: 2rem;
  }
  .display-components-container{
    display: flex;
    justify-content:center;
  }

}
  